/* Start Section One */
.about-page .section-one {
  background-color: #9db4c0;
  color: #c2dfe3;
}

.about-page .section-one .inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19.5rem 0;
  padding-top: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  text-align: center;
}
.about-page .section-one .inner-content h2 {
  font-weight: 700;
  color: #A9E5FF;
}
.about-page .section-one .inner-content p {
  color: #A9E5FF;
}
.about-page .section-one .inner-content button {
  padding: 1rem 3.5rem;
  margin: 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
  color: #c2dfe3;
  font-weight: 600;
}

.about-page .section-one .inner-content button a {
  color: inherit;
  text-decoration: none;
}

.about-page .section-one .inner-content button:hover {
  background-color: #c2dfe3;
  transition: 0.75s;
  color: #253237;
  font-weight: 600;
}

.about-page .section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/about-section-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* End Section One */

/* Start Section Two */
.about-page .section-two {
  background-color: #A9E5FF;
  padding: 6rem 0;
}

.about-page .section-two .inner-content {
  background-color: #7ACEF2;
  padding: 3rem 3rem;
  border-radius: 1.5rem;
  padding-bottom: 6rem;
}

.about-page .section-two h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5rem;
}
.about-page .section-two .category {
  align-items: center;
  background-color: white;
  border-radius: 18px;
}

.about-page .section-two .category {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: red;
}
.about-page .section-two .category {
  font-size: 1.1rem;
}

.about-page .section-two .category i {
  margin-bottom: 1rem;
  font-size: 2rem;
}
/* End Section Two */

/* Start Section Three */
.section-three{
  padding: 6rem 0;
  background-color: white;
}

.section-three .inner-content {
  display: flex;
  flex-direction: column;
}
.section-three .inner-content .flex-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.section-three .inner-content .flex-ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-three .inner-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
.section-three .inner-content p {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0;
}

.section-three .inner-content li {
  font-size: 1.25rem;
  /* color: gray; */
  font-weight: 500;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.section-three .inner-content li i {
  margin-right: 0.5rem;
  color: lightcoral;
  font-weight: bold;
}
/* End Section Three */

/* Start Section Four */
.section-four{
  background-color: #2AAAE1;
  padding: 5rem;
}

.section-four .inner-content{
  padding: 5rem;
  background-color: white;
  border-radius: 1.5rem;
}

.section-four .inner-content a{
  color: inherit;
  text-decoration: none;
}
.section-four .inner-content .text-content{
  font-size: 2.25rem;
  font-weight: 700;
}

.section-four .inner-content ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
}

.section-four .inner-content li button{
  background-color: transparent;
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  margin: 0.5rem 0;
  transition: 0.5s ease;
}

.section-four .inner-content li button:hover{
  background-color: #51C1F1;
  transition: 0.75s ease;
}

/* End Section Four */


.section-five {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.section-five .inner-content{
  margin: 5rem 0;
  padding: 5rem;
  padding-top: 3.5rem;
  background-color: #2AAAE1;
  border-radius: 1.5rem;
}
.section-five .inner-content h2 {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-bottom: 3rem;
}

.section-five form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-five .input-group {
  display: flex;
  gap: 10px;
}

.section-five .input-group input {
  flex: 1;
  padding: 12px;
  border: 1px solid #9db4c0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.section-five textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #9db4c0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  resize: none;
}

.section-five button {
  background-color: #A9E5FF;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}

.section-five button:hover {
  background-color: #0084BC;
}
